{% extends 'BSUIRIndividualPlanBundle::base-print.html.twig' %}
{% block title %}Печать Учебная Работа(План){% endblock %}
{% block print_content %}
    {% if ewpi %}
        <h1>Учебная Работа(План)</h1>
        <table class="none-width">
            <thead>
            <tr>
                <th>№№ п-п</th>
                <th>№№ г-г</th>
                <th>Лекции</th>
                <th>Практические занятия</th>
                <th>Лабараторныае</th>
                <th>Примечание</th>
            </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for item in ewpi %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ item.groupsString }}</td>
                    <td>{{ item.lectures}}</td>
                    <td>{{ item.practicalLessons}}</td>
                    <td>{{ item.labs}}</td>
                    <td>{{ item.note }}</td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}