{% extends 'BSUIRIndividualPlanBundle::base.html.twig' %}
{% block title %}Редактировать Индивидуальный План{% endblock %}
{% block h1 %}Редактировать Индивидуальный План{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <fieldset>
                <div class="form-group">
                    {{ form_label(form.session, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_widget(form.session, {'attr': {'class': 'form-control'}}) }}
                        <span class="error">{{ form_errors(form.session) }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-lg-offset-3">
                        {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}, 'label': 'Обновить'}) }}
                    </div>
                </div>
            </fieldset>
            {{ form_widget(form._token) }}
            {{ form_end(form) }}

            <a href="{{ url('individual_plan_print', {ip_id: plan.id}) }}" disabled class="btn btn-success btn-lg btn-block">Распечатать Индивидуальный План</a>
        </div>
        <div class="col-lg-6">
            {% set ewsp = plan.educationWorksPlan %}
            <div class="panel panel-{% if ewsp.count == 2 %}success{% else %}danger{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">Учебная Работа(План)</h3>
                </div>
                <div class="panel-body">
                    {% if ewsp.count < 2 %}
                        {% if ewsp.count == 1 %}
                            <p>
                                {% if ewp.educationWorkPlanItems.count %}
                                    <a href="{{ url('education_work_plan_print', {ewp_id: ewp.id}) }}" target="_blank" class="btn btn-success">Печать</a>
                                {% endif %}
                                <a href="{{ url('education_work_plan_update', {ewp_id: ewsp[0].id}) }}" class="">{{ ewsp[0].stringSemester }} семестр</a>
                                <a href="{{ url('education_work_plan_update', {ewp_id: ewsp[0].id}) }}" class="btn btn-warning">Просмотреть</a>
                                <a href="{{ url('education_work_plan_remove', {ewp_id: ewsp[0].id}) }}" class="btn btn-danger">Удалить</a>
                            </p>
                        {% endif %}
                        <p><a href="{{ url('education_work_plan_create', {ip_id: plan.id}) }}" class="btn btn-success">Создать</a></p>
                    {% else %}
                        {% for ewp in ewsp %}
                            <p>
                                <a href="{{ url('education_work_plan_update', {ewp_id: ewp.id}) }}" class="">{{ ewp.stringSemester }} семестр</a>
                                <a href="{{ url('education_work_plan_update', {ewp_id: ewp.id}) }}" class="btn btn-warning">Просмотреть</a>
                                <a href="{{ url('education_work_plan_remove', {ewp_id: ewp.id}) }}" class="btn btn-danger">Удалить</a>
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% set ewep = plan.educationWorksExecution %}
            <div class="panel panel-{% if ewep.count == 2 %}success{% else %}danger{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">Учебная Работа(Выполнение)</h3>
                </div>
                <div class="panel-body">
                    {% if ewep.count < 2 %}
                        {% if ewep.count == 1 %}
                            <p>
                                {#{% if ewp.educationWorkPlanItems.count %}#}
                                {#<a href="{{ url('education_work_execution_print', {ewp_id: ewp.id}) }}" target="_blank" class="btn btn-success">Печать</a>#}
                                {#{% endif %}#}
                                <a href="{{ url('education_work_execution_update', {ewe_id: ewep[0].id}) }}" class="">{{ ewep[0].stringSemester }} семестр</a>
                                <a href="{{ url('education_work_execution_update', {ewe_id: ewep[0].id}) }}" class="btn btn-warning">Просмотреть</a>
                                <a href="{{ url('education_work_execution_remove', {ewe_id: ewep[0].id}) }}" class="btn btn-danger">Удалить</a>
                            </p>
                        {% endif %}
                        <p><a href="{{ url('education_work_execution_create', {ip_id: plan.id}) }}" class="btn btn-success">Создать</a></p>
                    {% else %}
                        {% for ewe in ewep %}
                            <p>
                                <a href="{{ url('education_work_execution_update', {ewe_id: ewe.id}) }}" class="">{{ ewe.stringSemester }} семестр</a>
                                <a href="{{ url('education_work_execution_update', {ewe_id: ewe.id}) }}" class="btn btn-warning">Просмотреть</a>
                                <a href="{{ url('education_work_execution_remove', {ewe_id: ewe.id}) }}" class="btn btn-danger">Удалить</a>
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% set emw = plan.educationalMethodicalWork %}
            <div class="panel panel-{% if emw %}success{% else %}danger{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">Учебно-методическая и Организационно-методическая Работа</h3>
                </div>
                <div class="panel-body">
                    {% if emw %}
                        {% if emw.educationalMethodicalItems.count %}
                            <a href="{{ url('educational_methodical_work_print', {emw_id: emw.id}) }}" target="_blank" class="btn btn-success">Печать</a>
                        {% endif %}
                        <a href="{{ url('educational_methodical_work_update', {emw_id: emw.id}) }}" class="btn btn-warning">Просмотреть</a>
                        <a href="{{ url('educational_methodical_work_remove', {emw_id: emw.id}) }}" class="btn btn-danger">Удалить</a>
                    {% else %}
                        <a href="{{ url('educational_methodical_work_create', {ip_id: plan.id}) }}" class="btn btn-success">Создать</a>
                    {% endif %}
                </div>
            </div>
            {% set sw = plan.scientificWork %}
            <div class="panel panel-{% if sw %}success{% else %}danger{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">Научно-исследовательская Работа</h3>
                </div>
                <div class="panel-body">
                    {% if sw %}
                        {% if sw.scientificItems.count %}
                            <a href="{{ url('scientific_work_print', {sw_id: sw.id}) }}" target="_blank" class="btn btn-success">Печать</a>
                        {% endif %}
                        <a href="{{ url('scientific_work_update', {sw_id: sw.id}) }}" class="btn btn-warning">Просмотреть</a>
                        <a href="{{ url('scientific_work_remove', {sw_id: sw.id}) }}" class="btn btn-danger">Удалить</a>
                    {% else %}
                        <a href="{{ url('scientific_work_create', {ip_id: plan.id}) }}" class="btn btn-success">Создать</a>
                    {% endif %}
                </div>
            </div>
            {% set ow = plan.otherWork %}
            <div class="panel panel-{% if ow %}success{% else %}danger{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">Участие в работе советов, комиссий, комитетов, руководство НИРС, работа в студенческих группах и др.</h3>
                </div>
                <div class="panel-body">
                    {% if ow %}
                        {% if ow.otherItems.count %}
                            <a href="{{ url('other_work_print', {ow_id: ow.id}) }}" target="_blank" class="btn btn-success">Печать</a>
                        {% endif %}
                        <a href="{{ url('other_work_update', {ow_id: ow.id}) }}" class="btn btn-warning">Просмотреть</a>
                        <a href="{{ url('other_work_remove', {ow_id: ow.id}) }}" class="btn btn-danger">Удалить</a>
                    {% else %}
                        <a href="{{ url('other_work_create', {ip_id: plan.id}) }}" class="btn btn-success">Создать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}