{% extends 'BSUIRIndividualPlanBundle::base.html.twig' %}
{% block title %}Изменить Научно-исследовательскую Работу{% endblock %}
{% block h1 %}Изменить Научно-исследовательскую Работу{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-4">
            {% if scItems %}
                <p><a href="{{ url('scientific_work_print', {sw_id: scWork.id}) }}" class="btn btn-default btn-lg btn-block" target="_blank">Распечатать Таблицу</a></p>
            {% endif %}
        </div>
        <div class="col-lg-8">
            <p><a href="{{ url('scientific_items_create', {sw_id: scWork.id}) }}" class="btn btn-primary btn-lg btn-block">Создать запись</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' }}) }}
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        {{ form_label(form.topicName, null, {'label_attr' : {'class' : 'col-lg-12' } }) }}
                        {{ form_widget(form.topicName, { 'attr' : { 'class' : 'form-control' } }) }}
                        <span class="error">{{ form_errors(form.topicName) }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        {{ form_label(form.partName, null, {'label_attr' : {'class' : 'col-lg-12 control-label' } }) }}
                        {{ form_widget(form.partName, { 'attr' : { 'class' : 'form-control' } }) }}
                        <span class="error">{{ form_errors(form.partName) }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        {{ form_widget(form.create, { 'attr' : { 'class' : 'btn btn-primary' }, 'label': 'Обновить' }) }}
                    </div>
                </div>
            </fieldset>
            {{ form_widget(form._token) }}
            {{ form(form) }}
        </div>
        <div class="col-lg-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Созданные Записи</h3>
                </div>
                <div class="panel-body">
                    {% if scItems %}
                        <table class="table table-striped table-hover ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название работ</th>
                                <th>Начало</th>
                                <th>Конец</th>
                                <th>Отметка на 30.12</th>
                                <th>Отметка на 01.07</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in scItems %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.workName }}</td>
                                    <td>{{ item.startedAt|date('d.m.Y') }}</td>
                                    <td>{{ item.finishedAt|date('d.m.Y') }}</td>
                                    <td>{{ item.markFirst }}</td>
                                    <td>{{ item.markSecond }}</td>
                                    <td>
                                        <a href="{{ url('scientific_items_update', {si_id: item.id}) }}" class="btn btn-warning">Обновить</a>
                                        <a href="{{ url('scientific_items_remove', {si_id: item.id}) }}" class="btn btn-danger">Удалить</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        У Вас нету записей
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}