<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('bsuir_individual_plan_homepage') }}">БГУИР</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if app.request.attributes.get('_route') == 'individual_plan_index' %}class="active"{% endif %}>
                    <a href="{{ url('individual_plan_index') }}">Индивидуальные планы</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><p>Добро пожаловать, {{ app.user.firstName }} {{ app.user.lastName }}</p></li>
                    <li><p>|</p></li>
                    <li><a href="{{ url('professors_logout') }}">Выйти</a></li>
                {% else %}
                    <li><a href="{{ url('professors_login') }}">Войти</a></li>
                    <li><a href="{{ url('professors_register') }}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>