{% extends 'BSUIRIndividualPlanBundle::base.html.twig' %}
{% block title %}Создать Запись{% endblock %}
{% block h1 %}Создать Запись{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' }}) }}
            <fieldset>
                {% for field in form if (field.vars.name != 'create') %}
                    {% if (field.vars.name == 'startedAt') or (field.vars.name == 'finishedAt') %}
                        {% set fieldClass = 'date-form-control' %}
                    {% else %}
                        {% set fieldClass = 'form-control' %}
                    {% endif %}
                    {% if field.vars.name != '_token' %}
                        <div class="form-group">
                            {{ form_label(field, null, {'label_attr' : {'class' : 'col-lg-3 control-label' } }) }}
                            <div class="col-lg-9">
                                {{ form_widget(field, { 'attr' : { 'class' : fieldClass } }) }}
                                <span class="error">{{ form_errors(field) }}</span>
                            </div>
                        </div>
                    {% else %}
                        {{ form_widget(form._token) }}
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-lg-12 col-lg-offset-3">
                        {{ form_widget(form.create, { 'attr' : { 'class' : 'btn btn-primary' }, 'label': 'Создать' }) }}
                    </div>
                </div>
            </fieldset>
            {{ form(form) }}
        </div>
        <div class="col-lg-6">

        </div>
    </div>
{% endblock %}